html, body {
    height: 100%;
    width: 100%;
    background: #330066;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px outset rgba(158, 84, 255, 0.75);
    padding: 20px 20px;
    border-radius: 26px;
    width: 25%;
    min-width: 300px;
    max-width: 360px;
    height: 500px;
    background-color: #ffffff08;
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}

.card {
    border: 2px inset rgba(158, 84, 255, 0.75);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(33, 0, 0, 0) 55%,
        rgb(33, 0, 0, 1) 75%
    );
    
    padding: 20px 20px;
    border-radius: 22px;
    width: calc(100% - 40px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-picture {
    width: calc(100% - 40px);
    position: absolute;
    z-index: -1;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 18px;
}

h2 {
    font-size: 14px;
    font-weight: 500;
    color: #66bbdd;
    margin-top: 0px;
    margin-bottom: 18px;
}

ul {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 0px;
}
